<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="styles.css" />
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="js/socket.js"></script>
		<title>Jetson Sim</title>
	</head>
	<body>
		<script>
			// let socket = io("https://localhost:3000");
			// $(function () {
			// 	const socket = io();

			// 	socket.on('serialInUpdate', function (msg) {
			// 	$('#serialIn').append($('<li>').text(msg));
			// 	});
			// });
		</script>
		<div class="container">
            <%- include('../partials/header.ejs') %>

            <div>
                <%- include('../partials/errorMessage.ejs') %>
                <%- body %>
            </div>

        </div>
	</body>
</html>
