<form action="/sendPress" method="POST">
	<div>
		<textarea name="serialPrev"></textarea>
		<button name="sendButton" type="submit">Send</button>
	</div>

	<div>
		<p>Press buttons to load in different serial packet commands</p>
		<button>enable</button>
		<button>control</button>
		<textinput>test</textinput>
	</div>
</form>