<form action="/connect" method="POST">
	<button name="connect" value="Connect">Connect</button>
</form>

<form action="/disconnect" method="POST">
	<button name="disconnect" value="Disconnect">Disconnect</button>
</form>


<form action="/sendPress" method="POST">
	<div>
		<label>Serial Out</label>
		<textarea name="serial_CMD_String"></textarea>
		<button name="sendButton" type="submit">Send</button>
		<label>Serial In</label>
		<textarea name="serial_input"></textarea>
	</div>
</form>

<form action="/controlPress" method="POST">
	<div>
		<p>Press buttons to load in different serial packet commands</p>
		<button>enable</button>
		<button>control</button>
		<textinput>test</textinput>
	</div>
</form>